In [ ]:
!pip install -q google-generativeai

In [ ]:
import google.generativeai as genai
import json

In [ ]:
API_KEY = "AIzaSyCHdUjeKcL_MUMmsr1V5xe0tWWM60sFsfk"
genai.configure(api_key=API_KEY)

In [ ]:
model = genai.GenerativeModel("gemini-1.5-flash")

In [ ]:
text = """
Apple Inc reported a revenue of $20 billion in Q2 2023.
Goldman Sachs invested $500 million in Tesla.
The Reserve Bank of India announced a rate hike of 0.25% in March 2023.
"""

In [ ]:
prompt = f"""
Extract all financial entities from the text below.
Return the output strictly as a JSON array of objects with keys: 'entity' and 'type'.

Text:
{text}
"""

In [ ]:
response = model.generate_content(prompt)

In [ ]:
try:
    entities = json.loads(response.text)
except:
    entities = [{"entity": response.text, "type": "Raw Output"}]

In [ ]:
table_rows = "".join(
    f"<tr><td>{e['entity']}</td><td>{e['type']}</td></tr>"
    for e in entities
)

html_content = f"""
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Financial Entity Extraction</title>
    <style>
        body {{
            font-family: Arial, sans-serif;
            background: #f9f9f9;
            padding: 20px;
        }}
        h2 {{
            color: #333;
        }}
        table {{
            border-collapse: collapse;
            width: 100%;
            background: #fff;
            box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
        }}
        th, td {{
            border: 1px solid #ddd;
            padding: 10px;
            text-align: left;
        }}
        th {{
            background: #007acc;
            color: white;
        }}
        tr:nth-child(even) {{ background: #f2f2f2; }}
    </style>
</head>
<body>
    <h2>Extracted Financial Entities</h2>
    <table>
        <tr>
            <th>Entity</th>
            <th>Type</th>
        </tr>
        {table_rows}
    </table>
</body>
</html>
"""

with open("financial_entities_table.html", "w", encoding="utf-8") as f:
    f.write(html_content)

print("Extraction complete! Open 'financial_entities_table.html' below.")

Extraction complete! Open 'financial_entities_table.html' below.

In [ ]:
from IPython.display import display, HTML
display(HTML(html_content))